---
// load local fonts
import "@fontsource-variable/fira-code";
import "@fontsource/space-mono";

// load global styles
import "@/styles/global.css";

import NavBar from "@/components/NavBar";
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import type { CollectionEntry } from "astro:content";

const DEFAULT_DESCRIPTION =
  "Hi, I'm Mika Reich, an 18-year-old student from Germany. Ever since I was 12, I've been passionately coding web applications and much more.";

type Props = CollectionEntry<"pages">["data"];

const { pageTitle, metaDescription, heroTitle, heroDescription, heroImage } =
  Astro.props;
---

<html lang="en">
  <head>
    <ViewTransitions />

    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mika Reich | {pageTitle}</title>
    <meta name="description" content={metaDescription || DEFAULT_DESCRIPTION} />
    <meta name="author" content="Mika Reich" />
  </head>

  <body
    class="container flex min-h-dvh flex-col gap-5 bg-gray-400 font-body text-gray-200 sm:gap-10"
  >
    <NavBar client:only="react" />

    <header
      class="grid grid-cols-[1fr_auto] grid-rows-2 gap-x-5 sm:h-72 lg:gap-x-20"
    >
      <h1 class="title m-0 self-end">{heroTitle}</h1>
      <img
        class="row-span-2 hidden aspect-square h-full w-40 self-center overflow-hidden sm:block sm:w-52 lg:w-72"
        width="300"
        height="300"
        src={heroImage}
        alt={`Image for ${heroTitle}`}
      />
      <h3 class="h3 row-start-2 !m-0 !font-thin !text-gray-200">
        {heroDescription}
      </h3>
    </header>

    <slot />

    <span class="mt-auto"></span>

    <Footer />
  </body>
</html>
