---
// load local fonts
import "@fontsource-variable/fira-code";
import "@fontsource/space-mono";

// load global styles
import "@/styles/global.css";

import NavBar from "@/components/NavBar.astro";
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer.astro";

const DEFAULT_DESCRIPTION =
  "Hi, I'm Mika Reich, an 18-year-old student from Germany. Ever since I was 12, I've been passionately coding web applications and much more.";

type Props = {
  seo: {
    title: string;
    description?: string;
  };
  hero: {
    title: string;
    subtitle: string;
    image: string;
  };
};

const { seo, hero } = Astro.props;
---

<html lang="en">
  <head>
    <ViewTransitions />

    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mika Reich | {seo.title}</title>
    <meta name="description" content={seo.description || DEFAULT_DESCRIPTION} />
    <meta name="author" content="Mika Reich" />
  </head>

  <body
    class="min-h-dvh container flex flex-col gap-10 bg-gray-400 text-gray-200 font-body"
  >
    <NavBar />

    <header class="grid grid-cols-[1fr_auto] grid-rows-[1fr_1fr] sm:h-[300px]">
      <h1 class="title self-end m-0">{hero.title}</h1>
      <img
        class="self-center row-span-2 overflow-hidden h-full hidden sm:block"
        width="300"
        height="300"
        src={hero.image}
        alt={`Image for ${hero.title}`}
      />
      <h3 class="h3 row-start-2 text-gray-200 font-thin m-0">
        {hero.subtitle}
      </h3>
    </header>

    <slot />

    <span class="mt-auto"></span>

    <Footer />
  </body>
</html>
