---
// load local fonts
import "@fontsource-variable/fira-code";
import "@fontsource/space-mono";

// load global styles
import "@/styles/global.css";

import NavBar from "@/components/NavBar";
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import type { CollectionEntry } from "astro:content";
import TagList from "@/components/TagList.astro";

type Props = CollectionEntry<"posts">["data"] & {
  headings: { slug: string; text: string }[];
  id: CollectionEntry<"posts">["id"];
};

const { title, description, tags, published, headings, id } = Astro.props;
---

<html lang="en">
  <head>
    <ViewTransitions />

    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mika Reich | {title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Mika Reich" />
  </head>

  <body
    class="container flex min-h-dvh flex-col gap-5 bg-gray-400 font-body text-gray-200 sm:gap-10"
  >
    <NavBar client:only="react" />

    <div>
      <header class="grid grid-rows-2 gap-x-5 sm:h-72 lg:gap-x-20">
        <h1 class="title mt-1 self-end">
          {title}
        </h1>

        <h3
          transition:persist="description"
          class="h3 m-0 w-full font-thin text-gray-200"
        >
          {description}
        </h3>
      </header>

      <div class="flex flex-wrap gap-4 border-b border-gray-100/10 pb-4">
        <TagList tags={tags} />

        <time
          class="small ml-auto text-gray-200"
          datetime={published.toDateString()}
        >
          {
            published.toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
      </div>
    </div>

    <main class="flex justify-between">
      <article class="prose">
        <slot />
      </article>

      <aside class="sticky top-5 h-min max-w-72">
        <h2 class="large text-gray-100">On this page</h2>
        <p class="mb-2">{description}</p>
        <ol class="mb-10 space-y-4">
          {
            headings.map(({ slug, text }) => (
              <li class="truncate">
                <a class="highlighted truncate" href={`#${slug}`}>
                  {text}
                </a>
              </li>
            ))
          }
        </ol>

        <a
          class="small"
          href={`https://github.com/mikareich/portfolio/edit/main/src/content/posts/${id}`}
          >Edit this page on GitHub
        </a>
      </aside>
    </main>

    <span class="mt-auto"></span>

    <Footer />
  </body>
</html>
