---
// load local fonts
import "@fontsource-variable/fira-code";
import "@fontsource/space-mono";

// load global styles
import "@/styles/global.css";

import NavBar from "@/components/NavBar";
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import type { CollectionEntry } from "astro:content";
import TagList from "@/components/TagList.astro";
import Comments from "@/components/Comments.tsx";
import TableOfContents from "@/components/TableOfContents.astro";

type Props = CollectionEntry<"posts">["data"] & {
  headings: { slug: string; text: string }[];
  id: CollectionEntry<"posts">["id"];
};

const { title, description, tags, published, headings, id } = Astro.props;

const TOCProps = { headings, id, description };
---

<html lang="en">
  <head>
    <ViewTransitions />

    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mika Reich | {title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Mika Reich" />
  </head>

  <body
    class="container flex min-h-dvh flex-col gap-5 bg-gray-400 font-body text-gray-200 sm:gap-10"
  >
    <NavBar client:only="react" />

    <div>
      <header class="grid grid-rows-2 gap-x-5 sm:h-72 lg:gap-x-20">
        <h1 class="title mt-1 self-end">
          {title}
        </h1>

        <h3
          transition:persist="description"
          class="h3 m-0 w-full font-thin text-gray-200"
        >
          {description}
        </h3>
      </header>

      <div class="flex flex-wrap gap-4 border-b border-gray-100/10 pb-4">
        <TagList tags={tags} />

        <time
          class="small ml-auto text-gray-200"
          datetime={published.toDateString()}
        >
          {
            published.toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
      </div>
    </div>

    <main class="flex justify-between gap-4">
      <div class="max-w-prose overflow-hidden">
        <details class="max-lg:mb-4 lg:hidden">
          <summary class="h4 cursor-pointer text-gray-100">
            <span class="highlighted">On this page </span>
          </summary>
          <TableOfContents {...TOCProps} />
        </details>

        <article class="prose mb-8">
          <slot />
        </article>

        <Comments postId={id} client:only="react" />
      </div>

      <div class="sticky top-5 h-min max-w-72 overflow-hidden max-lg:hidden">
        <p class="large mb-2 text-gray-100">On this page</p>
        <TableOfContents {...TOCProps} />
      </div>
    </main>

    <span class="mt-auto"></span>

    <Footer />
  </body>
</html>
